<h1>Student</h1>
<div class="student">
  <h3> <%= @student.name %> </h3>
  <h4> <%= @student.grade %> </h4>
</div>

<h1>Courses</h1>
<% @courses.each do |course| %>
  <div class="course">
  <p> <%= course.name %> </p>
  <p> <%= course.topic %> </p>
  </div>

<% end %>
